table
{
    counter-reset: rowNumber;
}

table tr > td:first-child
{
    counter-increment: rowNumber;
}

table tr td:first-child::before
{
    content: counter(rowNumber);
    font-size: 24px;
    min-width: 10em;
    margin-right: 5em;
    ]
}