{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Farmer Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/farmer/account"><span class="glyphicon glyphicon-user"></span>{{username}}</a></li>
         <li><a href="/home">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">        
          <div class="panel-heading">LIST MY PRODUCTS</div>
          <a href="/farmer/myproducts">
          <div class="panel-body"><img src="{% static 'listproducts.png' %}" class="img-responsive" style="width:100%" alt="Image"></div>
          </a>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel-body">
        <div class="panel-heading"></div>
        <!-- <a href="#"> -->
        <div class="panel-body"><img class="img-responsive" style="width:100%" ></div>
        <!-- </a> -->
      </div>
    </div>   
    <div class="col-sm-4"> 
        <div class="panel panel-danger">
          <div class="panel-heading">ADD PRODUCTS</div>
          <a href="/farmer/add">
          <div class="panel-body"><img src="{% static 'addproducts.png' %}" class="img-responsive" style="width:100%" alt="Image"></div>
          </a>
        </div>
      </div>    
  </div>
</div>

</body>
</html>
